In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Read Data

In [2]:
location_df = pd.read_csv('/Users/mouyly/Downloads/jupiter_notebook/Traffic_Count_Locations_with_LONG_LAT.csv')
location_df.head()

,X,Y,FID,OBJECTID,TFM_ID,TFM_DESC,TFM_TYP_DE,MOVEMENT_T,SITE_DESC,ROAD_NBR,DECLARED_R,LOCAL_ROAD,DATA_SRC_C,DATA_SOURC,TIME_CATEG,YEAR_SINCE,LAST_YEAR,AADT_ALLVE,AADT_TRUCK,PER_TRUCKS
0,144.250614,-36.779313,7001,7301,7656,CALDER HWY NE OF OAK ST,INTERSECTION,All Moves,CALDER HWY & OAK ST,2530,CALDER HIGHWAY,HIGH STREET,TMVMT,Manual,Greater than 10 Years,19,1997,7700,330,0.04
1,145.356779,-37.835309,7002,7302,29406,MT DANDENONG RD S BD SE OF UPALONG RD,INTERSECTION,All Moves,MT DANDENONG RD SE OF UPALONG RD,4991,MOUNT DANDENONG ROAD,MOUNT DANDENONG TOURIST ROAD,APARX,Classification,Greater than 10 Years,16,2000,1900,0,0.00
2,144.988844,-37.824629,7003,7303,22676,SWAN ST W BD E OF PUNT RD,INTERSECTION,All Moves,PUNT RD LEFT TURN TO SWAN ST OD:12,2080,HODDLE HIGHWAY,PUNT ROAD,MOTSV,Manual,Greater than 10 Years,23,1993,15000,630,0.04
3,144.932442,-37.803783,7004,7304,27902,DYNON RD W BD E OF RADCLIFFE ST,INTERSECTION,All Moves,DYNON RD & RADCLIFFE ST,5035,DYNON ROAD,DYNON ROAD,TMVMT,Manual,Greater than 10 Years,19,1997,12000,1300,0.10
4,145.030601,-37.660502,7005,7305,10935,DALTON RD N of CHILDS RD,INTERSECTION,All Moves,CHILDS RD & DALTON RD,5605,DALTON ROAD,DALTON ROAD,TMVMT,Manual,Greater than 10 Years,19,1997,12000,600,0.05

In [3]:
print(location_df.columns)

Index(['X', 'Y', 'FID', 'OBJECTID', 'TFM_ID', 'TFM_DESC', 'TFM_TYP_DE',
       'MOVEMENT_T', 'SITE_DESC', 'ROAD_NBR', 'DECLARED_R', 'LOCAL_ROAD',
       'DATA_SRC_C', 'DATA_SOURC', 'TIME_CATEG', 'YEAR_SINCE', 'LAST_YEAR',
       'AADT_ALLVE', 'AADT_TRUCK', 'PER_TRUCKS'],
      dtype='object')

In [4]:
# Select the useful columns from the location data
location_df = location_df[['SITE_DESC', 'X', 'Y']]

# Check for missing values just to be safe
print(location_df.isna().sum())

# Preview cleaned location data
location_df.head()

SITE_DESC    0
X            0
Y            0
dtype: int64

                            SITE_DESC           X          Y
0                 CALDER HWY & OAK ST  144.250614 -36.779313
1    MT DANDENONG RD SE OF UPALONG RD  145.356779 -37.835309
2  PUNT RD LEFT TURN TO SWAN ST OD:12  144.988844 -37.824629
3             DYNON RD & RADCLIFFE ST  144.932442 -37.803783
4               CHILDS RD & DALTON RD  145.030601 -37.660502

## clean the data

## check for missing value

In [5]:
location_df.isna().sum()

SITE_DESC    0
X            0
Y            0
dtype: int64

### check for duplicated value

In [6]:
location_df.duplicated().sum()

np.int64(12521)

In [7]:
location_df[location_df.duplicated()]

,SITE_DESC,X,Y
84,SUNRAYSIA HWY 1.2 KM W OF SUNNYSIDE RD @339.0K...,142.861578,-35.978075
451,FITZGERALD RD N OF GILBERTSON RD,144.788170,-37.820978
583,MOUNT VIEW RD N OF MAIN ST,145.009495,-37.679317
687,ARMSTRONG ST & EYRE ST,143.855148,-37.567871
766,CHAPEL ST & DANDENONG RD,144.993325,-37.858043
...,...,...,...
57933,EMERALD-MONBULK RD SSE OF MOXHAMS RD,145.416597,-37.886944
57936,MELTON HWY W OF PLUMPTON RD,144.695029,-37.686915
57937,EVEL CROSSING) CAMP ROAD - CAMPBELLFIELD,144.956870,-37.689463
57940,EVEL CROSSING) CAMP ROAD - CAMPBELLFIELD,144.956880,-37.689464
57946,STERN HIGHWAY (EAST & WEST BOUND) LILLIMUR VIP...,141.126860,-36.361853